
<h3>Selected product ID: {{selected$ | async}}</h3>

<table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" (click)="selectRow(product._id)">
            <td>{{ product.ProductName }}</td>
            <td>{{ product.ProductDescription }}</td>
            <td>{{ product.ProductPrice }}</td>
            <td>
                <a [routerLink]="['/product/edit', product._id]" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <button type="button" (click)="deleteProduct(product._id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>
  